#hanoi {
  width: 360px;
  margin: 200px auto;
  height: 200px;
  /*background-color: whitesmoke;*/
  box-shadow: 2px 10px 100px cyan;
}

.clearfix:after {
  clear: both;
}

.tower {
  width: 100px;
  height: 100px;
  float: left;
  /*background-color: red;*/
  margin-left: 20px;
  transform: rotate(180deg);
  margin-top: 100px;
}

.tower:hover {
  background-color: yellow;
}

.tower:hover .disk {
  background-color: hotpink;
}

/*.tower:after {
  content: "";
  display:block;
  margin-bottom: -100px;
  height: 100%;
}*/

.disk {
  height: 20px;
  background-color: cyan;
  width: 80px;
  margin: 10px auto;
}

/*.disk:last-child {
  position: absolute;
  bottom: 10px;
  margin-bottom: 0;
  left: calc((100% - 80px)/2);
}*/
