#snake {
  width: 480px;
  margin: 200px auto;
}

.row {

}

.col {
  width: 10px;
  height: 10px;
  float: left;
  background-color: whitesmoke;
  border: 1px solid grey;
}

.snake-segment {
  background-color: black;
}

.apple {
  background-color: green;
}
