* {
  font-family: times new roman;
}
h1 {
  font-size: 60px;
  width: 306px;
  text-align: center;
  white-space: nowrap;
  margin: 100px auto;
}

#ttt {
  width: 306px;
  margin: 0 auto;
}

.row {
  /*width: 150px;*/
}

.cell {
  border: 1px solid pink;
  display: block;
  width: 60px;
  height: 60px;
  padding: 20px;
  float: left;
  background-color: grey;
  font-size: 60px;
  text-transform: uppercase;
  padding: 20px;
}

.cell:hover, .cell.hover {
  background-color: yellow;
}

#message {
  width: 306px;
  margin: 50px auto;
  text-align: center;
}
